.bg-fourPillars {
    background-image: url(./assest/1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgColBlock {
    position: relative;
    margin: 24px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    padding: 30px;

}

.pillarsImg {
    padding-top: 1.5rem;
    margin: 12px;
    width: 46px;
    height: auto;
}

.readMoreTitle {
    margin-right: 14px;
    margin-left: 14px;
    font-size: 17px;
    font-weight: 800;
}

.readMoreDesc {
    color: #444;
    line-height: 1.5rem;
    margin-right: 14px;
    margin-left: 14px;
    font-size: 15px;
    text-align: justify;
}

.btnTxt {
    font-weight: 600;
}

.tryBubble {
    width: 130px;
    position: absolute;
}

.TopBottomPadding {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.center-item-fourPillars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width:480px) {
    .center-item-fourPillars {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}