.aboutDesc,
.aboutDesc1 {
  text-align: justify;
  background-color: #000000;
  border-radius: 2rem;
  color: white;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 2px;
}



.aboutImg {
  width: auto;
  height: 640px;
}

.bgNumber {
  font-weight: 900;
  font-size: 4rem;
}

.paraDesc {
  font-size: 14px;
  text-align: justify;
}

.bgCards {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.padCard {
  padding: 1px 24px;
}

.bottomPad {
  padding-bottom: 5rem;
}


@media only screen and (max-width: 768px) {
  .aboutDesc {
    width: 240px;
    line-height: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 70%;
  }

  .aboutDesc1 {
    width: 100%;
    font-size: 70%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    text-align: justify;
  }

  .aboutImg {
    position: absolute;
    width: 144px;
    height: 180px;
    top: 342px;
    left: 240px;
  }

  .bottomPad {
    padding-bottom: 0;
  }
}