/* svg.svg-inline--fa.fa-phone-volume {
    transform: rotate(-45deg);
    font-size: 20px;
    margin-right: 8px;
    margin-top: 0;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.fa-phone-volume,
.yellowIcon {
    color: #ef750f;
    font-size: 14px !important;
    padding: 5px;
    border: 1px solid #ef750f;
    border-radius: 100%;
    margin-right: 8px;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
} */

.rotate-example {
    transform: rotate(45deg);
    /* Rotate the element by 45 degrees */
}