.floorPlansSlider {
    height: 300px;
}

.floorPlansSlider button {
    position: absolute;
    z-index: 9999;
    background-color: black !important;
}

.floorPlansSlider li button {
    display: none;
}